<v-container fluid class="view-container">
    <v-img
        class="view-image mx-auto"
        height="220"
        max-width="500"
        src="@/assets/wol.jpg"
    />
    <div class="d-flex justify-center mt-6">
        <v-btn
            fab
            large
            :class="{ 'wol-pulse': pending }"
            :color="online === true ? '#FF9E2C' : 'grey'"
            dark
            :disabled="pending"
            @click="up()"
        >
            <v-icon dark>mdi-power</v-icon>
        </v-btn>
    </div>
</v-container>
