<v-container
        fluid
>
    <v-card
        class="mx-auto"
        max-width="500"
        elevation="1"
    >
        <v-img
            height="150"
            src="@/assets/wol.jpg"
        />
        <v-row class="justify-center text-center" >
            <v-col cols="12">
                <v-btn
                    class="ma-2"
                    color="grey"
                    dark
                    @click="up()"
                >
                    <v-icon dark>
                        mdi-power
                    </v-icon>
                </v-btn>
            </v-col>
        </v-row>
    </v-card>
</v-container>

