.fadeout {
  animation: fadeout 5s forwards;
}

@keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  overflow: hidden;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.splash-bg {
  background-image: url("../../assets/splash.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: center cover;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}