<v-container fluid class="view-container">
    <v-img
        class="view-image mx-auto"
        height="220"
        max-width="500"
        src="@/assets/garden.jpg"
    />
    <div class="d-flex justify-center mt-6">
        <v-btn
            class="ma-2"
            fab
            large
            color="#FF9E2C"
            dark
            @click="shutterUp()"
        >
            <v-icon dark>mdi-arrow-up-bold-outline</v-icon>
        </v-btn>
        <v-btn
            class="ma-2"
            fab
            large
            color="#FF9E2C"
            dark
            @click="shutterStop()"
        >
            <v-icon dark>mdi-stop-circle-outline</v-icon>
        </v-btn>
        <v-btn
            class="ma-2"
            fab
            large
            color="#FF9E2C"
            dark
            @click="shutterDown()"
        >
            <v-icon dark>mdi-arrow-down-bold-outline</v-icon>
        </v-btn>
    </div>
</v-container>
