<v-container
        fluid
>
    <v-card
        class="mx-auto"
        max-width="500"
        elevation="3"
    >
        <v-img
            height="250"
            src="@/assets/garden.jpg"
        />
        <v-row class="justify-center text-center" >
            <v-col cols="12">
                <div>
                    <v-btn
                        class="ma-2"
                        color="grey"
                        dark
                        @click="shutterUp()"
                    >
                        <v-icon dark>
                            mdi-arrow-up-bold-outline
                        </v-icon>
                    </v-btn>
                </div>
                <div>
                    <v-btn
                        class="ma-2"
                        color="grey"
                        dark
                        @click="shutterStop()"
                    >
                        <v-icon dark>
                            mdi-stop-circle-outline
                        </v-icon>
                    </v-btn>
                </div>
                <div>
                    <v-btn
                        class="ma-2"
                        color="grey"
                        dark
                        @click="shutterDown()"
                    >
                        <v-icon dark>
                            mdi-arrow-down-bold-outline
                        </v-icon>
                    </v-btn>
                </div>
            </v-col>
        </v-row>
    </v-card>

    <v-card style="margin: 20px;"
            class="mx-auto"
            max-width="500"
            elevation="3"
    >
        <v-row>
            <v-col
                    class="d-flex justify-center"
            >
                <v-color-picker
                        v-model="color"
                        dot-size="25"
                        hide-inputs
                        hide-mode-switch
                        width="450"
                        canvas-height="350"
                        swatches-max-height="200"
                ></v-color-picker>
            </v-col>
        </v-row>
    </v-card>
</v-container>

